<a href="https://colab.research.google.com/github/MasterDJ23/Movie-Recommendation-System/blob/main/Kratos_202011020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME: DEV JUNEJA </p> ID: 202011020 </p> SEMESTER: V </p> TOPIC: Movie Recommendation System


Overview: </p>
Recommendation Systems are a type of information filtering systems
as they improve the quality of search results and provide items that are more relevant to the search
item or are related to the search history of the user. They are used to predict the rating or
preference that a user would give to an item. </p> 
A movie recommendation system will recommend a user movie/s based on his previous responses for a particular genre, ratings, etc and on the basis of popularity a movie has amoung all the users i.e. collaborative recommendation.

Explaining the project: 

• First of all, we get a dataset of movie ratings and make sure that we understand its structure.

• Next, we will try to get non-personalized recommendations followed by personalized.

• Then, at last, we will train our model to get a User-User collaborative filtering to get recommendations for combined users.

In [ ]:
# LensKit API is used to implement our recommender systems algorithms.
!pip install lenskit

#importing dataset
import lenskit.datasets as ds
import pandas as pd

# this git link contains .csv files containing ratings, tags, personalized ratings, etc
!git clone https://github.com/MasterDJ23/Movie-Recommendation-System.git

data = ds.MovieLens('Movie-Recommendation-System/')

print("Successfully imported dataset.")

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting lenskit
  Downloading lenskit-0.14.2-py3-none-any.whl (74 kB)
     |████████████████████████████████| 74 kB 1.7 MB/s
Requirement already satisfied: cffi>=1.12.2 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.15.1)
Collecting binpickle>=0.3.2
  Downloading binpickle-0.3.4-py3-none-any.whl (13 kB)
Collecting seedbank>=0.1.0
  Downloading seedbank-0.1.2-py3-none-any.whl (7.9 kB)
Requirement already satisfied: psutil>=5 in /usr/local/lib/python3.7/dist-packages (from lenskit) (5.4.8)
Requirement already satisfied: pandas==1.*,>=1.0 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.3.5)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.21.6)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.7/dist-packages (from lenskit) (1.7.3)
Collecting csr>=0.3.1
  Downloading csr-0.4.3-py3-none-any.whl (23 kB)
Requirement already satisfied: numba<0.57,>=0.51 in /usr/local/lib/python3.7/dist-packages (from lenskit) (0.56.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.*,>=1.0->lenskit) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.*,>=1.0->lenskit) (2.8.2)
Requirement already satisfied: msgpack>=1.0 in /usr/local/lib/python3.7/dist-packages (from binpickle>=0.3.2->lenskit) (1.0.4)
Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 10.8 MB/s
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12.2->lenskit) (2.21)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (4.13.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (57.4.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba<0.57,>=0.51->lenskit) (0.39.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.*,>=1.0->lenskit) (1.15.0)
Collecting anyconfig
  Downloading anyconfig-0.13.0-py2.py3-none-any.whl (87 kB)
     |████████████████████████████████| 87 kB 7.2 MB/s
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba<0.57,>=0.51->lenskit) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->numba<0.57,>=0.51->lenskit) (3.10.0)
Installing collected packages: pickle5, anyconfig, seedbank, csr, binpickle, lenskit
Successfully installed anyconfig-0.13.0 binpickle-0.3.4 csr-0.4.3 lenskit-0.14.2 pickle5-0.0.12 seedbank-0.1.2
Cloning into 'Movie-Recommendation-System'...
remote: Enumerating objects: 21, done.
remote: Counting objects: 100% (21/21), done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 21 (delta 7), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (21/21), done.
Successfully imported dataset.

In [ ]:
rows_to_show = 10   # we can change the number to see more rows of data
data.ratings.head(rows_to_show) # head method will help us get an insight of our data

   user  item  rating  timestamp
0     1     1     4.0  964982703
1     1     3     4.0  964981247
2     1     6     4.0  964982224
3     1    47     5.0  964983815
4     1    50     5.0  964982931
5     1    70     3.0  964982400
6     1   101     5.0  964980868
7     1   110     4.0  964982176
8     1   151     5.0  964984041
9     1   157     5.0  964984100

In [ ]:
data.ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user       100836 non-null  int32
 1   item       100836 non-null  int32
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int32
dtypes: float64(1), int32(3)
memory usage: 1.9 MB

In [ ]:
data.movies.describe()

              title genres
count          9742   9742
unique         9737    951
top     Emma (1996)  Drama
freq              2   1053

In [ ]:
data.tags.head(rows_to_show)

   user    item                tag   timestamp
0     2   60756              funny  1445714994
1     2   60756    Highly quotable  1445714996
2     2   60756       will ferrell  1445714992
3     2   89774       Boxing story  1445715207
4     2   89774                MMA  1445715200
5     2   89774          Tom Hardy  1445715205
6     2  106782              drugs  1445715054
7     2  106782  Leonardo DiCaprio  1445715051
8     2  106782    Martin Scorsese  1445715056
9     7   48516       way too long  1169687325

In [ ]:
data.links.head(rows_to_show)

      imdbId  tmdbId
item
1     114709     862
2     113497    8844
3     113228   15602
4     114885   31357
5     113041   11862
6     113277     949
7     114319   11860
8     112302   45325
9     114576    9091
10    113189     710

In [ ]:
data.movies.head(rows_to_show)

,title,genres
item,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

In [ ]:
# now we will join the data to use it according to our requirement 
joined_data = data.ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data.head(rows_to_show)

,user,item,rating,timestamp,genres,title
0,1,1,4.0,964982703,Adventure|Animation|Children|Comedy|Fantasy,Toy Story (1995)
1,1,3,4.0,964981247,Comedy|Romance,Grumpier Old Men (1995)
2,1,6,4.0,964982224,Action|Crime|Thriller,Heat (1995)
3,1,47,5.0,964983815,Mystery|Thriller,Seven (a.k.a. Se7en) (1995)
4,1,50,5.0,964982931,Crime|Mystery|Thriller,"Usual Suspects, The (1995)"
5,1,70,3.0,964982400,Action|Comedy|Horror|Thriller,From Dusk Till Dawn (1996)
6,1,101,5.0,964980868,Adventure|Comedy|Crime|Romance,Bottle Rocket (1996)
7,1,110,4.0,964982176,Action|Drama|War,Braveheart (1995)
8,1,151,5.0,964984041,Action|Drama|Romance|War,Rob Roy (1995)
9,1,157,5.0,964984100,Comedy|War,Canadian Bacon (1995)

In [ ]:
# here we calculate the average rating of the movies in our dataset, sort it
# and then we can recommend these movies to all users to watch
avg_ratings = (data.ratings).groupby(['item']).mean()
sorted_avg_ratings = avg_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[1:]]

print("RECOMMENDED FOR ALL USERS:")
joined_data.head(rows_to_show)

RECOMMENDED FOR ALL USERS:

,rating,timestamp,genres,title
item,,,,
88448,5.0,1.315438e+09,Comedy|Drama,Paper Birds (Pájaros de papel) (2010)
100556,5.0,1.456151e+09,Documentary,"Act of Killing, The (2012)"
143031,5.0,1.520409e+09,Comedy|Drama|Romance,Jump In! (2007)
143511,5.0,1.526207e+09,Documentary,Human (2015)
143559,5.0,1.520410e+09,Comedy|Crime|Fantasy,L.A. Slasher (2015)
6201,5.0,1.100120e+09,Drama|Romance,Lady Jane (1986)
102217,5.0,1.443200e+09,Comedy,Bill Hicks: Revelations (1993)
102084,5.0,1.493422e+09,Action|Animation|Fantasy,Justice League: Doom (2012)
6192,5.0,1.063275e+09,Romance,Open Hearts (Elsker dig for evigt) (2002)
145994,5.0,1.526207e+09,Comedy,Formula of Love (1984)

In [ ]:
# the generic recommendation which I got above doesn't seem to be much releavant
# here I am adding count of users who rated the movie with the particular rating

average_ratings = (data.ratings).groupby('item') \
       .agg(count=('user', 'size'), rating=('rating', 'mean')) \
       .reset_index()

sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[1:]]


print("RECOMMENDED FOR ALL USERS:")
joined_data.head(rows_to_show)

RECOMMENDED FOR ALL USERS:

,count,rating,genres,title
7638,1,5.0,Comedy|Drama,Paper Birds (Pájaros de papel) (2010)
8089,1,5.0,Documentary,"Act of Killing, The (2012)"
9065,1,5.0,Comedy|Drama|Romance,Jump In! (2007)
9076,1,5.0,Documentary,Human (2015)
9078,1,5.0,Comedy|Crime|Fantasy,L.A. Slasher (2015)
4245,1,5.0,Drama|Romance,Lady Jane (1986)
8136,1,5.0,Comedy,Bill Hicks: Revelations (1993)
8130,1,5.0,Action|Animation|Fantasy,Justice League: Doom (2012)
4240,1,5.0,Romance,Open Hearts (Elsker dig for evigt) (2002)
9104,1,5.0,Comedy,Formula of Love (1984)

In [ ]:
# to improve my results for generic recommendation of movies I have set a minimum count of person
# those should have rated the movie, then only the movie will appear in the list below
minimum_to_include = 100

average_ratings = (data.ratings).groupby(['item']).mean()
rating_counts = (data.ratings).groupby(['item']).count()
average_ratings = average_ratings.loc[rating_counts['rating'] > minimum_to_include]
sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['genres'], on='item')
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[3:]]

print("RECOMMENDED FOR ALL USERS:")
joined_data.head(rows_to_show)
# results improves :))

RECOMMENDED FOR ALL USERS:

,genres,title
item,,
318,Crime|Drama,"Shawshank Redemption, The (1994)"
858,Crime|Drama,"Godfather, The (1972)"
2959,Action|Crime|Drama|Thriller,Fight Club (1999)
1221,Crime|Drama,"Godfather: Part II, The (1974)"
48516,Crime|Drama|Thriller,"Departed, The (2006)"
1213,Crime|Drama,Goodfellas (1990)
58559,Action|Crime|Drama|IMAX,"Dark Knight, The (2008)"
50,Crime|Mystery|Thriller,"Usual Suspects, The (1995)"
1197,Action|Adventure|Comedy|Fantasy|Romance,"Princess Bride, The (1987)"
260,Action|Adventure|Sci-Fi,Star Wars: Episode IV - A New Hope (1977)

In [ ]:
# we have recommended the movies based on the ratings 
# now we will narrow down our recommendations based on particular genre

average_ratings = (data.ratings).groupby(['item']).mean()
rating_counts = (data.ratings).groupby(['item']).count()
average_ratings = average_ratings.loc[rating_counts['rating'] > minimum_to_include]
average_ratings = average_ratings.join(data.movies['genres'], on='item')
# we have filtered the recommendations on the basis of a perticular genre, here 'Action'
average_ratings = average_ratings.loc[average_ratings['genres'].str.contains('Action')]

sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[3:]]
print("RECOMMENDED MOVIES FOR AN ACTION MOVIE FAN:")
joined_data.head(rows_to_show)

RECOMMENDED MOVIES FOR AN ACTION MOVIE FAN:

,genres,title
item,,
2959,Action|Crime|Drama|Thriller,Fight Club (1999)
58559,Action|Crime|Drama|IMAX,"Dark Knight, The (2008)"
1197,Action|Adventure|Comedy|Fantasy|Romance,"Princess Bride, The (1987)"
260,Action|Adventure|Sci-Fi,Star Wars: Episode IV - A New Hope (1977)
1208,Action|Drama|War,Apocalypse Now (1979)
1196,Action|Adventure|Sci-Fi,Star Wars: Episode V - The Empire Strikes Back...
1198,Action|Adventure,Raiders of the Lost Ark (Indiana Jones and the...
2571,Action|Sci-Fi|Thriller,"Matrix, The (1999)"
2028,Action|Drama|War,Saving Private Ryan (1998)
1210,Action|Adventure|Sci-Fi,Star Wars: Episode VI - Return of the Jedi (1983)

In [ ]:
average_ratings = (data.ratings).groupby(['item']).mean()
rating_counts = (data.ratings).groupby(['item']).count()
average_ratings = average_ratings.loc[rating_counts['rating'] > minimum_to_include]
average_ratings = average_ratings.join(data.movies['genres'], on='item')
# here we are filtering according to the genre, "Comedy"
average_ratings = average_ratings.loc[average_ratings['genres'].str.contains('Comedy')]

sorted_avg_ratings = average_ratings.sort_values(by="rating", ascending=False)
joined_data = sorted_avg_ratings.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[3:]]
print("RECOMMENDED MOVIES FOR A COMEDY MOVIE FAN:")
joined_data.head(rows_to_show)

RECOMMENDED MOVIES FOR A COMEDY MOVIE FAN:

,genres,title
item,,
1197,Action|Adventure|Comedy|Fantasy|Romance,"Princess Bride, The (1987)"
296,Comedy|Crime|Drama|Thriller,Pulp Fiction (1994)
4973,Comedy|Romance,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ..."
356,Comedy|Drama|Romance|War,Forrest Gump (1994)
1136,Adventure|Comedy|Fantasy,Monty Python and the Holy Grail (1975)
608,Comedy|Crime|Drama|Thriller,Fargo (1996)
778,Comedy|Crime|Drama,Trainspotting (1996)
1270,Adventure|Comedy|Sci-Fi,Back to the Future (1985)
6377,Adventure|Animation|Children|Comedy,Finding Nemo (2003)
1265,Comedy|Fantasy|Romance,Groundhog Day (1993)

We have seen generic recommendations based on all users ratings narrowed down to specific genres, now we will personalized the recommendations by using personal watch data, personal ratings, etc. </p> 

Moreover, if we notice till now we will get the same recommendations even if we have watched the moive. So further, I will use personal watch data set to get new recommendations.

In [ ]:
import csv

personal_rating_1 = {}
personal_rating_2 = {}

with open("/content/Movie-Recommendation-System/personal_rating_1.csv", newline='') as csvfile:
  ratings_reader = csv.DictReader(csvfile)
  for row in ratings_reader:
    if ((row['ratings'] != "") and (float(row['ratings']) > 0) and (float(row['ratings']) < 6)):
      personal_rating_1.update({int(row['item']): float(row['ratings'])})
      
with open("/content/Movie-Recommendation-System/personal_rating_2.csv", newline='') as csvfile:
  ratings_reader = csv.DictReader(csvfile)
  for row in ratings_reader:
    if ((row['ratings'] != "") and (float(row['ratings']) > 0) and (float(row['ratings']) < 6)):
      personal_rating_2.update({int(row['item']): float(row['ratings'])})
     
print("Rating dictionaries assembled!")
print("Sanity check:")
print("\tPersonal rating 1 for 1 (Toy Story) is " + str(personal_rating_1[1]))
print("\tPersonal rating 2 for 1 (Toy Story) is " + str(personal_rating_2[1]))

Rating dictionaries assembled!
Sanity check:
	Personal rating 1 for 1 (Toy Story) is 4.0
	Personal rating 2 for 1 (Toy Story) is 4.5

In [ ]:
# now we will train a new collaborative filtering model to provide recommendations

from lenskit.algorithms import Recommender
from lenskit.algorithms.user_knn import UserUser
#number of recommendations is set to 10, can be modified
num_recs = 10  

#These two numbers set the minimum (3) and maximum (15) number of neighbors to consider. 
user_user = UserUser(15, min_nbrs=3) 
algo = Recommender.adapt(user_user)
algo.fit(data.ratings)

print("Set up a User-User algorithm!")

Set up a User-User algorithm!

In [ ]:
#Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate
pers_recs_1 = algo.recommend(-1, num_recs, ratings=pd.Series(personal_rating_1)) 

joined_data = pers_recs_1.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("\n\nFirst Personalized Recommendations:")
joined_data

First Personalized Recommendations:

,genres,title
0,Comedy|Drama,"Last Detail, The (1973)"
1,Comedy,Love and Death (1975)
2,Drama,Before Night Falls (2000)
3,Drama,"Magdalene Sisters, The (2002)"
4,Drama|Horror|Mystery|Sci-Fi|Thriller,Black Mirror: White Christmas (2014)
5,Action|Animation|Drama|Fantasy|Sci-Fi,Neon Genesis Evangelion: The End of Evangelion...
6,Action|Adventure|Thriller,Raiders of the Lost Ark: The Adaptation (1989)
7,Comedy|Drama|Romance,Submarine (2010)
8,Adventure|Drama,Nebraska (2013)
9,Documentary,"Endless Summer, The (1966)"

In [ ]:
#Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate
pers_recs_2 = algo.recommend(-1, num_recs, ratings=pd.Series(personal_rating_2)) 

joined_data = pers_recs_2.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("Second Personal Recommendations:")
joined_data

Second Personal Recommendations:

                   genres                                title
0                  Comedy              The Night Before (2015)
1  Adventure|Drama|Sci-Fi        Day of the Doctor, The (2013)
2   Drama|Fantasy|Romance    Wristcutters: A Love Story (2006)
3          Comedy|Musical                   Holiday Inn (1942)
4                  Comedy            Outside Providence (1999)
5          Comedy|Romance                    Adam's Rib (1949)
6                   Drama                 Reign Over Me (2007)
7                   Drama  Guess Who's Coming to Dinner (1967)
8                   Drama                   Half Nelson (2006)
9                  Comedy                      Fired Up (2009)

• We have successfully provided personalized recommendations for movies to different users. </p> 

• Now we can take our recommedations to one step further. We will combine recommendations of 2 or more users to provide them a common recommendation. </p>

• This feauture can be helpful for a movie night when more than 1 person wants to watch a movie. Using this feature they will be able to get a recommendaion based of watch history of each one of them.

</p> Let's Do IT :))

In [ ]:
combined_rating_dict = {}
for k in personal_rating_1:
  if k in personal_rating_2:
    combined_rating_dict.update({k: float((personal_rating_1[k]+personal_rating_2[k])/2)})
  else:
    combined_rating_dict.update({k:personal_rating_1[k]})
for k in personal_rating_2:
   if k not in combined_rating_dict:
      combined_rating_dict.update({k:personal_rating_2[k]})
      
print("Combined ratings dictionary assembled!")
print("Sanity check:")
print("\tCombined rating for 1 (Toy Story) is " + str(combined_rating_dict[1]))

Combined ratings dictionary assembled!
Sanity check:
	Combined rating for 1 (Toy Story) is 4.25

In [ ]:
# now finally we can use our combine dictionary to get a common recommendation for group
combined_recs = algo.recommend(-1, num_recs, ratings=pd.Series(combined_rating_dict))  
#Here, -1 tells it that it's not an existing user in the set, that we're giving new ratings, while 10 is how many recommendations it should generate
joined_data = combined_recs.join(data.movies['genres'], on='item')      
joined_data = joined_data.join(data.movies['title'], on='item')
joined_data = joined_data[joined_data.columns[2:]]
print("\n\nPersonalized Recommendation for user 1 and user 2:")
joined_data

Personalized Recommendation for user 1 and user 2:

                      genres                                           title
0       Comedy|Drama|Romance                                Submarine (2010)
1              Drama|Romance                     Call Me by Your Name (2017)
2               Drama|Sci-Fi               Man Who Fell to Earth, The (1976)
3             Comedy|Romance                               Adam's Rib (1949)
4                  Drama|War                                Gallipoli (1981)
5                      Drama                       Before Night Falls (2000)
6     Adventure|Drama|Sci-Fi                   Day of the Doctor, The (2013)
7  Action|Adventure|Thriller  Raiders of the Lost Ark: The Adaptation (1989)
8    Adventure|Drama|Western                                True Grit (1969)
9                     Comedy                           Love and Death (1975)